<app-start></app-start>

<div class="tabelaPrijava">
    <div class = "naslov">Пријава админа</div>
    <table class="tabela">
        <tr>
            <td><input type="text" [(ngModel)]="username" placeholder="Korisnicko ime"></td>
        </tr>
        <tr>
            <td><input type="password" [(ngModel)]="password" placeholder="Lozinka"></td>
        </tr>
        <tr>
            <td class="poruka">{{message}}</td>
        </tr>
        <tr>
            <td><button class="dugme" (click)="logIn()">Prijavi se</button></td>
        </tr>
    </table>
</div>

<app-footer></app-footer>