.meni {
    background: #aeecac7b;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 40%;
    border-radius: 10px;
    overflow: hidden;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    display: inline;
    margin: 0 10px;
}

.menu-list a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.menu-list a:hover {
    background-color: #FFFFFF;
    color: #2E8B57;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.odrzavanje {
    width: 100%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.odrzavanje table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 128, 0, 0.2);
}

.odrzavanje th, 
.odrzavanje td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.odrzavanje th {
    background-color: #2e8b57; /* Dark green for headers */
    color: #fff; /* White text for headers */
    font-weight: bold;
}

.odrzavanje tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray for even rows */
}

.odrzavanje tr:nth-child(odd) {
    background-color: #e0f7e0; /* Light green for odd rows */
}

.odrzavanje tr:hover {
    background-color: #d0ffd0; /* Light green on hover */
}

.odrzavanje td input[type="datetime-local"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #2e8b57; /* Green border for date input */
    border-radius: 4px;
}

.odrzavanje td button {
    padding: 5px 15px;
    background-color: #2e8b57; /* Dark green for buttons */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px; /* Space between buttons */
}

.odrzavanje td button:hover {
    background-color: #4caf50; /* Lighter green on hover */
}
