<app-log-out></app-log-out>

<div class="meni">
    <ul class="menu-list">
        <li><a (click)="chosenMenu(0)">Профил</a></li>
        <li><a (click)="chosenMenu(1)">Фирме</a></li>
        <li><a (click)="chosenMenu(2)">Заказивања</a></li>
        <li><a (click)="chosenMenu(3)">Одржавање</a></li>
    </ul>
</div>

<div class="zakazivanja">
    <div class="zakazivanjaTitle">Заказивања</div>
    <table>
        <thead>
            <tr>
                <th>Фирма</th>
                <th>Услуге</th>
                <th>Почетак</th>
                <th>Датум креирања</th>
                <th *ngIf="canCancle.length">Одбиј</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments; let i = index">
                <td>{{appointment.firm}}</td>
                <td>{{appointment.services}}</td>
                <td>{{appointment.startDate | date:'dd/MM/yyyy'}}</td>
                <td>{{appointment.made | date:'dd/MM/yyyy'}}</td>
                <td *ngIf="canCancle[i]">
                    <button (click)="removeAppointment(i)">Откажи</button>
                </td>
            </tr>
            <tr *ngFor="let obligation of obligations">
                <td>{{obligation.firm}}</td>
                <td>{{obligation.services}}</td>
                <td>{{obligation.startDate | date:'dd/MM/yyyy'}}</td>
                <td>{{obligation.made | date:'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="zavrseno">
    <div class="zavrsenoTitle">Завршени послови</div>
    <table>
        <thead>
            <tr>
                <th>Фирма</th>
                <th>Крајњи датум</th>
                <th>Коментар</th>
                <th>Рејтинг</th>
                <th>Акција</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let finishedJob of finishedJobs; let i = index">
                <tr>
                    <td>{{finishedJob.firm}}</td>
                    <td>{{finishedJob.endDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{finishedJob.commentOwner}}</td>
                    <td>
                        <ng-container *ngFor="let star of getStars(finishedJob.rating.valueOf())">
                            <i *ngIf="star === 'full'" class="fas fa-star"></i>
                            <i *ngIf="star === 'half'" class="fas fa-star-half-alt"></i>
                            <i *ngIf="star === 'empty'" class="far fa-star"></i>
                        </ng-container>
                    </td>
                    <td>
                        <button *ngIf="finishedJob.rating == -1 && addComment[i] == false" (click)="comment(i)"
                            class="button">Додај оцену</button>
                    </td>
                </tr>
                <tr *ngIf="finishedJob.rating == -1 && addComment[i] == true" class="ocenjivanje">
                    <td colspan="5">
                    <div class="input-group">
                        <textarea rows="4" placeholder="Коментар" [(ngModel)]="comments[i]" class="textarea"></textarea>
                        <div class="star-rating">
                            <span *ngFor="let star of stars; let i = index" (click)="rate(i + 1)"
                                (mouseover)="hover(i + 1)" (mouseleave)="leave()"
                                [ngClass]="{ 'active': i < rating, 'hovered': i < hoverRating }" class="fas fa-star">
                            </span>
                        </div>
                        <button (click)="saveChanges(i)" class="button">Сачувај</button>
                    </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<app-footer></app-footer>