<app-start></app-start>
<div class="tabelaPrijava">
    <div class = "naslov">Промена лозинке</div>
    <table class="tabela">
        <tr>
            <td><input type="text" [(ngModel)]="passwordOld" placeholder="Стара шифра"></td>
        </tr>
        <tr>
            <td><input type="password" [(ngModel)]="passwordNew1" placeholder="Нова шифра"></td>
        </tr>
        <tr>
            <td><input type="password" [(ngModel)]="passwordNew2" placeholder="Нова шифра"></td>
        </tr>
        <tr>
            <td class="posebnaPrijava"><button (click)="change()">Потврди</button>
        </tr>
        {{message}}
    </table>
</div>

<app-footer></app-footer>