<app-log-out></app-log-out>

<div class="meni">
    <ul class="menu-list">
        <li><a (click)="chosen(0)">Профил</a></li>
        <li><a (click)="chosen(1)">Заказивања</a></li>
        <li><a (click)="chosen(2)">Одржавања</a></li>
        <li><a (click)="chosen(3)">Статистика</a></li>
    </ul>
</div>

<div class='odrzavanje'>
    <table>
        <tr>
            <th>Власник</th>
            <th>Датум завршетка</th>
            <th>Акција</th>
        </tr>
        <tr *ngFor="let maintenence of maintenences">
            <td>{{maintenence.owner}}</td>
            <td><input type="datetime-local" [(ngModel)]="maintenence.endDate"></td>
            <td>
                <span>
                    <button (click)="accept(maintenence)">Потврди</button>
                </span>
                <span>
                    <button (click)="deny(maintenence)">Одбиј</button>
                </span>
            </td>
        </tr>
    </table>
</div>

<app-footer></app-footer>