.meni {
    background: #aeecac7b;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 40%;
    border-radius: 10px;
    overflow: hidden;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    display: inline;
    margin: 0 10px;
}

.menu-list a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.menu-list a:hover {
    background-color: #FFFFFF;
    color: #2E8B57;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.canvas-container {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

canvas {
    width: 100% !important;
    max-width: 500px;
    height: auto !important;
    margin: 10px;
}

