.prijaviSe {
    text-align: center;
    font-size: x-large;  
    font: 'Pacifico', bold;
}

.tabelaPrijava {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poruka {
    color: red;
    text-align: center;
    font-size: small;
}

.tabela {
    background-color: white;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
}

.dugme {
    padding: 5px 10px;
    font-size: medium;
    background-color: #2c5f2d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tabelaPrijava td {
    padding: 2%;
    text-align: center;
}
.posebnaPrijava {
    text-align: center;
}

.tabelaPrijava a:hover{
    font-weight: bold;
}

.glavniNaslov {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    color: #e8f5e9;
    text-align: center;
    text-shadow:  -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font: 2px;
    padding: 5px;
    border-radius: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}