.firme {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.firme table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.firme th, .firme td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.firme th {
    background-color: #2E8B57;
    color: #FFFFFF;
    font-weight: bold;
}

.firme tr:nth-child(even) {
    background-color: #f9f9f9;
}

.firme tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.firme tr:hover {
    background-color: #e1f5e1;
}

.firme div {
    cursor: pointer;
    color: #2E8B57;
    font-size: 16px;
}

.firme div:hover {
    text-decoration: underline;
}

.firme .link {
    color: #1E90FF;
    text-decoration: none;
}

.firme .link:hover {
    text-decoration: underline;
}

.pretraga {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pretraga input[type="text"] {
    width: calc(50% - 22px);
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.pretraga button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
}

.pretraga button:hover {
    background-color: #45a049;
}

.pretraga table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.pretraga th, .pretraga td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.pretraga th {
    background-color: #2E8B57;
    color: #FFFFFF;
    font-weight: bold;
}

.pretraga tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pretraga tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.pretraga tr:hover {
    background-color: #e1f5e1;
}

.meni {
    background: #aeecac7b;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 40%;
    border-radius: 10px;
    overflow: hidden;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    display: inline;
    margin: 0 10px;
}

.menu-list a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.menu-list a:hover {
    background-color: #FFFFFF;
    color: #2E8B57;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}